/*** root */
:root {
  /* colors palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --primary-btn: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #eeba72;
  --light-purple: #9792e4;
}

/* ** reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ** main */

/* * side-bar */

/* ** content */

/* * nav-bar */

/* * main-content */

/* ** footer */

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}

/* border */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-light {
  border: 2px dashed var(--light-blue);
}

/* background */

.debug .bg-white {
  background-color: var(--white);
}
.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-gray {
  background-color: var(--gray);
}
.debug .bg-purple {
  background-color: var(--purple);
}
.debug .bg-pink {
  background-color: var(--pink);
}
.debug .bg-brown {
  background-color: var(--brown);
}
