/*** root */
:root {
  /* colors palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --sky-light-blue: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #eeba72;
  --light-purple: #9792e4;

  /* web-site colors */
  --footer-gray: #282828;
  --side-bar-black: #000000;
  --header-black: rgba(8, 11, 18, 0.5);
  --main-content-dark-blue: #141922;
  --primary-gray: #918e8e;

  /* main elements */
  --media-progress: 20%;
  --audio-volume: 30%;
  --footer-height: 100px;
  --header-height: 80px;
  --side-bar-width: 300px;
  --side-bar-width-collapsed: 50px;
  --side-bar-selection-width: 0.4rem;
}

/* ** reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ** general */

/* font */

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: o.8rem;
}

/* button */

.btn {
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-family: "Noto Sans", sans-serif;
}

.btn-white {
  background-color: var(--header-black);
  color: var(--white);
  border: 2px solid var(--white);
}

/* ul */

ul {
  list-style: none;
}

/* flex */

.row {
  display: flex;
}

/* img */

img {
  width: 100%;
}

/* svg */

svg {
  width: 1.5rem;
  fill: currentColor;
  display: inline-block;
}

/* hidden */

.hidden {
  display: none;
}

/* ** main */

.main-container {
  width: 100%;
  height: calc(100vh - var(--footer-height));
  display: flex;
}

/* * side-bar */

#side-bar {
  width: var(--side-bar-width);
  background-color: var(--side-bar-black);
  color: var(--primary-gray);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
}

/* side-bar logo */

#side-bar .logo {
  height: var(--header-height);
  padding: 1rem 0;
  text-align: left;
}

#side-bar .logo > svg {
  height: 100%;
  width: 50%;
}

/* side-bar functions */

.functions p {
  display: inline;
}

#side-bar .functions > .function {
  border-left: var(--side-bar-selection-width) solid var(--side-bar-black);
  margin-left: calc(var(--side-bar-selection-width) * -1);
}

#side-bar .functions > .function > svg {
  margin-right: 0.5rem;
}

#side-bar .functions > .function:hover {
  color: var(--white);
  border-left: var(--side-bar-selection-width) solid var(--pastel-green);
}

/* side-bar add playlist */

#side-bar .add-playlist h2 {
  padding-bottom: 0.5rem;
  color: var(--white);
}

#side-bar .add-playlist .action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#side-bar .add-playlist button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-gray);
  border: 0;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
}

#side-bar .add-playlist .action:hover {
  color: var(--white);
}

#side-bar .add-playlist .action:hover button {
  background-color: var(--white);
}

/* side-bar playlist */

#side-bar .playlist {
  overflow-y: auto;
}

#side-bar .playlist li {
  padding: 0.5rem;
  padding-left: 0;
}

#side-bar .playlist li:hover {
  color: var(--white);
}

/* account */

#side-bar .account {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#side-bar .account-top,
.account-bottom {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#side-bar .account .arrow {
  border: 2px solid var(--primary-gray);
  border-radius: 50%;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-bar .account .line {
  height: 2px;
  background-color: var(--primary-gray);
  width: 100%;
}

#side-bar .account .profile-picture {
  background-color: var(--primary-gray);
  color: var(--white);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 2rem;
  aspect-ratio: 1 / 1;
  position: relative;
}

#side-bar .account .profile-picture svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ** content */

#content {
  width: calc(100% - var(--side-bar-width));
  overflow-y: auto;
  background-color: var(--main-content-dark-blue);
}

/* * content - header */

#content header {
  height: var(--header-height);
  text-align: right;
  line-height: var(--header-height);
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--header-black);
  padding-right: 1rem;
}

#content header button:hover {
  scale: 1.1;
}

/* * main-content */

.main-content {
  color: var(--primary-gray);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-content h1,
h2 {
  color: var(--white);
}

/* nav-bar */

#content nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  color: var(--primary-gray);
  padding: 1rem;
}

#content nav .element .line {
  width: 40%;
  height: 5px;
  margin: 0.2rem auto 0;
  background-color: var(--main-content-dark-blue);
}

#content nav .element:hover .line {
  background-color: var(--pastel-green);
}

/* main-content-flex */

.main-content .row {
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--primary-gray);
  padding: 1rem;
}

.main-content .card {
  width: calc((100% / 6) - 1rem);
  text-align: center;
}

/* recent */

/* personal */

/* popular */

.main-content .popular .card > .media {
  border-radius: 50%;
  overflow: hidden;
}

/* ** footer */

#footer {
  height: var(--footer-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--footer-gray);
}

#footer .footer-col {
  padding: 1rem 0.5rem;
  height: var(--footer-height);
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: nowrap;
}

/* action */

#footer .action {
  font-size: 1rem;
}

#footer .action > i {
  padding-right: 0.5rem;
}

/* bar */

#footer .bar {
  height: 5px;
  border-radius: 30px;
  background-color: var(--gray);
}

#footer .bar > .line {
  background-color: var(--white);
  height: 5px;
  border-radius: 30px;
  position: relative;
}

#footer .bar > .line > .ball {
  background-color: var(--white);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer .bar:hover .ball.hidden {
  display: block;
}

#footer .bar:hover .line {
  background-color: var(--pastel-green);
}

/* media */

#footer .media > img {
  width: 3rem;
}

/* ! vedere se mantenerli */
/* name */

/*! #footer .name > h3 {
  font-size: 0.8rem;
} */

#footer .name > address {
  font-style: normal;
  font-weight: 100;
  /*! font-size: 0.6rem; */
}

/* number */

/* ! #footer .number > h4 {
  font-size: 0.6rem;
} */

/* footer song */

/* footer progress */

#footer .progress {
  flex-direction: column;
  justify-content: space-around;
}

#footer .progress .action > i {
  padding-left: 0.5rem;
}

#footer .progress .progress-bar {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

#footer .progress .bar {
  width: 500px;
}

#footer .progress .bar > .line {
  width: var(--media-progress);
}

/* footer setting */

#footer .setting {
}

#footer .setting .bar {
  width: 200px;
}

#footer .setting .bar > .line {
  width: var(--audio-volume);
}

/* ** responsive */
/* ! this is for extremely big screens */
@media screen and (max-width: 1330px) {
  /* ** general */

  * {
    font-size: 1rem;
  }

  /* ** footer */

  /* footer progress */
  #footer .progress .bar {
    width: 300px;
  }
  /* footer setting */
  #footer .setting .bar {
    width: 100px;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  /* ** footer */

  #footer .action {
    font-size: 0.8rem;
  }

  #footer .name > h3 {
    font-size: 0.8rem;
  }

  #footer .name > address {
    font-size: 0.6rem;
  }

  #footer .number > h4 {
    font-size: 0.6rem;
  }

  /* footer progress */
  #footer .progress .bar {
    width: 200px;
  }
  /* footer setting */
  #footer .setting .bar {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  /* ** footer */

  #footer .footer-col {
    padding: 1rem 0.5rem;
    gap: 0.5rem;
  }

  #footer .action {
    font-size: 0.6rem;
  }

  /* footer progress */
  #footer .progress .bar {
    width: 100px;
  }
  /* footer setting */
  #footer .setting .bar {
    width: 60px;
  }
}

@media screen and (max-width: 576px) {
  /* ** side-bar */

  :root {
    --side-bar-width: var(--side-bar-width-collapsed);
  }

  /* ** side-bar */

  #side-bar {
    align-items: center;
  }

  #side-bar .functions > .function > svg {
    margin: auto;
  }

  #side-bar .arrow {
    margin: auto;
  }

  #side-bar .logo > svg {
    width: 100%;
  }

  #side-bar .collapsed {
    display: none;
  }

  #side-bar .hidden {
    display: block;
  }
}

/* 
breakpoints 
extrasmall: ≤ 576px
small: ≤ 768px
medium: ≤ 992px
large: ≤ 1200px
*/

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}

/* border */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-light {
  border: 2px dashed var(--light-blue);
}

/* background */

.debug .bg-white {
  background-color: var(--white);
}
.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-gray {
  background-color: var(--gray);
}
.debug .bg-purple {
  background-color: var(--purple);
}
.debug .bg-pink {
  background-color: var(--pink);
}
.debug .bg-brown {
  background-color: var(--brown);
}
